{% extends "_template.html" %}
{% block content %}

<!--
  Boilerplate for the TrailheaDX 2017 workshop:
  "Rapid prototyping with the Design System Starter Kit and UI Kit"
  https://tdx-starter-kit.herokuapp.com/
-->


<!-- PAGE HEADER: https://www.lightningdesignsystem.com/components/page-headers/?variant=record-home -->
  <!-- INSERT CODE HERE -->
  <div class="slds-page-header slds-page-header_record-home">
  <div class="slds-page-header__row">
    <div class="slds-page-header__col-title">
      <div class="slds-media">
        <div class="slds-media__figure">
          <span class="slds-icon_container slds-icon-standard-opportunity">
            <svg class="slds-icon slds-page-header__icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/standard-sprite/svg/symbols.svg#opportunity" />
            </svg>
          </span>
        </div>
        <div class="slds-media__body">
          <div class="slds-page-header__name">
            <div class="slds-page-header__name-title">
              <h1>
                <span>Dealer</span>
                <span class="slds-page-header__title slds-truncate" title="Acme - 1,200 Widgets">Prime Motors, LLC - 38824</span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="slds-page-header__col-actions">
      <div class="slds-page-header__controls">
        <div class="slds-page-header__control">
          <button class="slds-button slds-button_destructive">Default Recommended</button>
          <button class="slds-button slds-button_outline-brand">Schedule a Task</button>
          <button class="slds-button slds-button_success">Pass Review</button>
        </div>
      </div>
    </div>
  </div>
  <div class="slds-page-header__row slds-page-header__row_gutters">
    <div class="slds-page-header__col-details">
      <ul class="slds-page-header__detail-row">
        <li class="slds-page-header__detail-block">
          <div class="slds-text-title slds-truncate" title="Field 1">LOC(s)</div>
          <div class="slds-truncate" title="Description that demonstrates truncation with a long text field.">Retail</div>
        </li>
        <li class="slds-page-header__detail-block">
          <div class="slds-text-title slds-truncate" title="Field 1">Total Balance</div>
          <div class="slds-truncate" title="Description that demonstrates truncation with a long text field.">$617,665.06</div>
        </li>
        <li class="slds-page-header__detail-block">
          <div class="slds-text-title slds-truncate" title="Field 3">Approved Floorplans</div>
          <div class="slds-truncate" title="Hyperlink"><a href="javascript:void(0);">35</a></div>
        </li>
        <li class="slds-page-header__detail-block">
          <div class="slds-text-title slds-truncate" title="Field 4">Last ARS</div>
          <div class="slds-truncate" title="Description (2-line truncation—must use JS to truncate).">33</div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- /PAGE HEADER -->

<!-- PROGRESS INDICATOR: https://www.lightningdesignsystem.com/components/progress-indicator/?modifiers=.slds-is-active&variant=base -->
  <!-- INSERT CODE HERE -->
  <article class="slds-card" style="margin: 32px 12px;">
  <div class="slds-path">
    <div class="slds-grid slds-path__track">
      <div class="slds-grid slds-path__scroller-container">
        <div class="slds-path__scroller" role="application">
          <div class="slds-path__scroller_inner">
            <ul class="slds-path__nav" role="listbox" aria-orientation="horizontal">
              <li class="slds-path__item slds-is-complete slds-is-lost" role="presentation">
                <a aria-selected="true" class="slds-path__link" href="javascript:void(0);" id="path-9" role="option" tabindex="0">
                  <span class="slds-path__stage">
                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                    </svg>
                    <span class="slds-assistive-text">Stage Complete</span>
                  </span>
                  <span class="slds-path__title">Lead Risk Specialist</span>
                </a>
              </li>
              <li class="slds-path__item slds-is-current slds-is-active" role="presentation">
                <a aria-selected="true" class="slds-path__link" href="javascript:void(0);" id="path-9" role="option" tabindex="0">
                  <span class="slds-path__stage">
                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                    </svg>
                    <span class="slds-assistive-text">Current Stage:</span>
                  </span>
                  <span class="slds-path__title">Performance Manager</span>
                </a>
              </li>
              <li class="slds-path__item slds-is-incomplete" role="presentation">
                <a aria-selected="false" class="slds-path__link" href="javascript:void(0);" id="path-10" role="option" tabindex="-1">
                  <span class="slds-path__stage">
                    <svg class="slds-icon slds-icon_x-small" aria-hidden="true">
                      <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
                    </svg>
                  </span>
                  <span class="slds-path__title">Closed</span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="slds-grid slds-path__action">
        <span class="slds-path__stage-name">Stage: Unqualified</span>
        <button class="slds-button slds-button_brand slds-path__mark-complete">
          <svg class="slds-button__icon slds-button__icon_left" aria-hidden="true">
            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check" />
          </svg>Mark Status as Complete</button>
      </div>
    </div>
  </div>
</article>
<!-- /PROGRESS INDICATOR -->

<!-- COLUMNS - already populated for you: https://www.lightningdesignsystem.com/utilities/grid/?example=regions-with-sizing&variant=grid -->
<div class="slds-grid slds-wrap slds-grid_pull-padded">

  <!-- COLUMN #1 -->
  <div class="slds-p-horizontal_large slds-size_2-of-3">

    <!-- TABS: https://www.lightningdesignsystem.com/components/tabs/?modifiers=.slds-is-active&variant=base -->
    <!-- ACTIVITY TIMELINE - replace "Item One Content": https://www.lightningdesignsystem.com/components/activity-timeline/?variant=base -->
      <!-- INSERT CODE HERE -->
    <!-- /TABS -->
    <article class="slds-card" style="padding: 32px">
      <table class="slds-table slds-table_cell-buffer slds-table_striped">
      <tbody>
        <tr class="slds-hint-parent">
          <td data-label="Account Name">
            <div class="slds-truncate" title="Line of Credit">Line of Credit</div>
          </td>
          <td data-label="Close Date">
            <div class="slds-truncate" title="$000,000.00">$000,000.00</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <td data-label="Account Name">
            <div class="slds-truncate" title="Pre-Write Off">Target Pre-Write Off Recovery Goal</div>
          </td>
          <td data-label="Close Date">
            <div class="slds-truncate" title="70%">70%</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <td data-label="Account Name">
            <div class="slds-truncate" title="Remarketing Correction">Remarketing Correction</div>
          </td>
          <td data-label="Close Date">
            <div class="slds-truncate" title="19.26%">19.26%</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <td data-label="Account Name">
            <div class="slds-truncate" title="Outstanding Balance">Outstanding Balance</div>
          </td>
          <td data-label="Close Date">
            <div class="slds-truncate" title="$000,000.00">$000,000.00</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <td data-label="Account Name">
            <div class="slds-truncate" title="Offsite Percentage">Offsite Percentage</div>
          </td>
          <td data-label="Close Date">
            <div class="slds-truncate" title="40%">40%</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <td data-label="Account Name">
            <div class="slds-truncate" title="Reserves">Reserves</div>
          </td>
          <td data-label="Close Date">
            <div class="slds-truncate" title="$000,000.00">$000,000.00</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <td data-label="Account Name">
            <div class="slds-truncate" title="Remarketing Correction">Remarketing Correction</div>
          </td>
          <td data-label="Close Date">
            <div class="slds-truncate" title="$000,000.00">$000,000.00</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <td data-label="Account Name">
            <div class="slds-truncate" title="Missing Units">Missing Units</div>
          </td>
          <td data-label="Close Date">
            <div class="slds-truncate" title="$000,000.00">$000,000.00</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <td data-label="Account Name">
            <div class="slds-truncate" title="Cash Collections">Cash Collections</div>
          </td>
          <td data-label="Close Date">
            <div class="slds-truncate" title="$000,000.00">$000,000.00</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <td data-label="Account Name">
            <div class="slds-truncate" title="Projected Recovery">Projected Recovery</div>
          </td>
          <td data-label="Close Date">
            <div class="slds-truncate" title="$000,000.00">$000,000.00</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <td data-label="Account Name">
            <div class="slds-truncate" title="Projected Loss">Projected Loss</div>
          </td>
          <td data-label="Close Date">
            <div class="slds-truncate" title="$000,000.00">$000,000.00</div>
          </td>
        </tr>
        <tr class="slds-hint-parent">
          <td data-label="Account Name">
            <div class="slds-truncate" title="Variance to Recovery Target">Variance to Recovery Target</div>
          </td>
          <td data-label="Close Date">
            <div class="slds-truncate" title="$000,000.00">$000,000.00</div>
          </td>
        </tr>
      </tbody>
    </table>
    </article>
  <!-- <article class="slds-card" style="padding: 32px"> -->
<!-- </article> -->
  </div>
  <!-- /COLUMN #1 -->

  <!-- COLUMN #2 -->
  <div class="slds-p-horizontal_large slds-size_1-of-3">

    <!-- CARD: https://www.lightningdesignsystem.com/components/cards/?variant=base -->
<article class="slds-card" style="padding: 32px">
  <div class="slds-feed">
<ul class="slds-feed__list">
<li class="slds-feed__item">
  <article class="slds-post">
    <header class="slds-post__header slds-media">
      <div class="slds-media__figure">
        <a href="javascript:void(0);" class="slds-avatar slds-avatar_circle slds-avatar_large">
          <img alt="Jason Rodgers" src="/assets/images/avatar1.jpg" title="Jason Rodgers avatar" />
        </a>
      </div>
      <div class="slds-media__body">
        <div class="slds-grid slds-grid_align-spread slds-has-flexi-truncate">
          <p><a href="javascript:void(0);" title="Jason Rodgers">Jason Rogers</a> — <a href="javascript:void(0);" title="Design Systems">Lead Risk Specialist</a></p>
          <button class="slds-button slds-button_icon slds-button_icon-border slds-button_icon-x-small"
            aria-haspopup="true" title="More Options">
            <svg class="slds-button__icon" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down" />
            </svg>
            <span class="slds-assistive-text">More Options</span>
          </button>
        </div>
        <p class="slds-text-body_small"><a href="javascript:void(0);" title="Click for single-item view of this post" class="slds-text-link_reset">5 days Ago</a></p>
      </div>
    </header>
    <div class="slds-post__content slds-text-longform">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="javascript:void(0);" title="Jenna Davis">@Jenna Davis</a> Proin in est aliquet, mattis metus in, facilisis massa. Proin eu tortor a orci laoreet elementum. Maecenas facilisis urna lectus, eu dignissim massa faucibus et. Nulla tortor est, maximus at lacus fringilla, semper dapibus magna. Proin rhoncus commodo interdum.</p>
    </div>
    <footer class="slds-post__footer">
      <ul class="slds-post__footer-actions-list slds-list_horizontal">
        <li class="slds-col slds-item slds-m-right_medium">
          <button title="Like this item" class="slds-button_reset slds-post__footer-action slds-is-active" aria-pressed="true">
            <svg class="slds-icon slds-icon-text-default slds-icon_x-small slds-align-middle" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#like" />
            </svg>Liked</button>
        </li>
        <li class="slds-col slds-item slds-m-right_medium">
          <button title="Comment on this item" class="slds-button_reset slds-post__footer-action">
            <svg class="slds-icon slds-icon-text-default slds-icon_x-small slds-align-middle" aria-hidden="true">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#share_post" />
            </svg> Comment</button>
        </li>
      </ul>
    </footer>
  </article>
  <div class="slds-feed__item-comments">
    <div class="slds-p-horizontal_medium slds-p-vertical_x-small"><a href="javascript:void(0);">You</a> liked this post</div>
  </div>
</li>
</ul>
</div>
</article>
    <!-- /CARD -->

  </div>
  <!-- /COLUMN #2 -->

</div>
<!-- /COLUMNS -->

{% endblock %}
